.table-row {
  background-color: royalblue;
}

.table,
th,
td,
.player-info {
  border: 2px solid black;
}

td {
  font-size: 18px;
  color: cornsilk;
}

.player-image {
  height: 85px;
  width: 70px;
}

tr:hover {
  background-color: midnightblue;
}
